@import url('https://fonts.googleapis.com/css?family=Montserrat');

.title h1{
	background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif');
}
.project h1{
	background-image: url('https://media.giphy.com/media/l1KXtGiWieAhji91u/giphy.gif');
}
.project_ball h1{
	background-image: url('https://media.giphy.com/media/r5E0uV2Facm2c/giphy.gif');
}
.project_gradient h1{
	background-image: url('../img/core-img/grad.gif'); 
}

.title h1,
.project h1,
.project_ball h1,
.project_gradient h1{
	background-size: cover;
	color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 135px;
	line-height: .8;
	margin: 0px 0;
	margin-top: 5%;
	overflow: hidden;
}

.title,
.project,
.project_ball,
.project_gradient{
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 42vh;
	letter-spacing: 1px;
}


.title,
.project,
.project_ball,
.project_gradient{
	overflow: hidden;
	position: relative;
}