

 html, 
 body,
 .view{
 	height: 100%;
 }

 .carousel{
 	height: 50%;
 }

.carousel .carousel-inner{
	height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
	height: 100%;
}

@media (max-width: 776px){
	.navbar:not(.top-nav-collapse){
		background-color: grey;
		background:rgba(0,0,0,0.5)
	}
	.carousel{
		height: 100%;
	}

}

.top-nav-collapse{
	background-color: grey;
	background:rgba(0,0,0,0.5)
}

.maintext{
	font-size: 140%;
}

.parallax{
	margin-left: 10%;
	height: 100%;
	width: 100%;
	margin-bottom: 5%;
	overflow: hidden;
}

.parallax-option{
	position:absolute; 
	width:75%; 
	height:85%;
  }

.parallax-item-1{
	position: absolute;
	height: 100%;
	width: 100%;
}
.parallax-item-2{
	position: absolute;
	height: 100%;
	width: 100%;
}

.container{
	overflow: hidden;
}
.page-footer{
	background-color: gray;
}

.title h1{
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
}
.project h1{
	background-image: url(https://media.giphy.com/media/l1KXtGiWieAhji91u/giphy.gif);
}

.title h1,
.project h1{
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 135px;
	line-height: .8;
	margin: 0px 0;
	margin-top: 3%;
	overflow: hidden;
}

.title,
.project{
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 42vh;
	letter-spacing: 1px;
}

.portfolio{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.portfolio h4{
	font-size: 200%;
	font-weight: bold;
	color: #111;
}

.toggles button{
	background: white;
	border: none;
	cursor: pointer;
	font-size: 110%;
	margin: 0 auto;
}
.pop img{
	height: 100%;
	width: 100%;
}

.posts{
	overflow: hidden;
	align-items: center;
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto;
}

.block{
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(255,255,255, 0.5);
    padding:5px;
	opacity: 0;
	position: absolute;
	overflow: hidden;
	-webkit-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
.block h2{
	margin-top: 25%;
	text-align: center;
}
.block p{
	font-size: 150%;
}
.pop:hover .block{
	opacity: 1;
}
.post{
	position: relative;
}

.title,
.project{
	overflow: hidden;
	position: relative;
}
#project{
	width: 100%;
}
h2.intro{
	font-size: 500%;
}

/* .glitch{
	position: absolute;
	text-transform: uppercase;
	transform: translate(-50%, -50%);
}
.glitch:before,
.glitch:after{
	position: absolute;
	top: 0;
	left: 0;

	display: block;
	height: 100%;
	width: 100%;
	
	content: attr(data-glitch);
	text-transform: uppercase;
	opacity: 0.8;
}

.glitch:before{
	z-index: -1;

	color: #8000ff;
}
.glitch:after{
	z-index: -2;

	color: #ff0000;
}
.glitch:hover:before{
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
}
.glitch:hover:after{
	animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
}
@keyframes glitch{
	0%{
		transform: translate(0);
	}
	20%{
		transform: translate(-8px, 8px);
	}
	40%{
		transform: translate(-8px, -8px);
	}
	60%{
		transform: translate(8px, 8px);
	}
	80%{
		transform: translate(8px, -8px);
	}
	to{
		transform: translate(0);
	}
} */


